.container {
  width: 100vw;
  height: calc(250px + 8vh);
  position: relative;
  top: calc((8vh + 40px) * -1);
}

// medium
@media (max-width: 900px) {
  .container {
    height: 300px;
  }
}

// mobile
@media (max-width: 600px) {
  .container {
    height: 225px;
  }
}
