## dependencies
/node_modules
/.pnp
.pnp.js

## cached
/public/precach*
/public/static
/public/asset-manifest.json

## testing
/coverage

## production
/build
build.zip
build.tar.gz
src/server.config.js

## misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

# downloads (files too big lol)
/src/assets/downloads/*

# old images
/src/assets/img/img_merch/old/*
/src/assets/img/gimp/*
/misc/other/*

## logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*