.card {
  display: flex;
  flex-direction: column;
  width: 33.3333333%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 8px 2px;
}

.imgpreview {
  object-fit: fill;
  height: auto;
  width: 100%;
  padding: 1rem;
}

.title {
  font-weight: normal;
  margin-left: 1rem;
}

.link {
  text-decoration: underline;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.price {
  align-items: flex-end;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 1rem;
  font-weight: 500;
}

// medium size
@media (max-width: 900px) {
  .card {
    width: 50%;
  }
}

// mobile
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
