.card {
  display: flex;
  flex-direction: column;
  width: 33.3333333%;
  height: 400px;
}

.imgpreview {
  object-fit: fill;
  height: auto;
  width: 100%;
  padding: 1rem;
}

.title {
  font-weight: normal;
}

// medium size
@media (max-width: 900px) {
  .card {
    width: 50%;
  }
}

// mobile
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
