.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#header-image:hover {
  transform: scale(1.05) !important;
}

#header-image {
  opacity: 100% !important;
}

@media only screen and (max-width: 633px) {
  #header-image {
    transform: scale(1.4) !important;
  }

  #header-image:hover {
    transform: scale(1.4) !important;
  }
}