@import url(//db.onlinewebfonts.com/c/9a4b138bd9c8e1eba20dbd6a0bb1d832?family=Cooper+Black);

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden !important;
}

#crawl {
    visibility: hidden !important;
}