.counter-bubble {
    /* background-color: rgba(231, 117, 117, .95); */
    background-color: #000;
    color: #fff;
    top: -60px;
    right: -20px;
    font-size: 8em;
}

@media only screen and (max-width: 633px) {
    .counter-bubble {
        top: -76px;
        right: -60px;
    }
}