.shopping-cart {
    display: block;
    cursor: pointer;
}

.cart-image {
    width: 256px;
    height: 256px;
    position: fixed;
    transform: scale(0.15);
    right: -20px;
    top: -64px;
    /* animation: playCart 0.7s steps(3) infinite; */
    z-index: 30;
}

/* @keyframes playCart {
    100% { background-position: -300px; }
}*/

@media only screen and (max-width: 633px) {
    .cart-image {
        top: -80px;
        right: -60px;
        transform: scale(0.15);
    }
}