.checkout-footer {
    height: 8vh;
    top: 92vh;
}

.total-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.total-text{
    position: 'fixed';
    margin-left: 20px;
    margin-right: auto;
}

.total-num {
    position: fixed;
    font-size: 2em;
    width: 100%;
    left: calc(50% - 1em);
}

.place-order-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    bottom: auto;
    right: 20px;
}

@media only screen and (max-width: 633px) {
    .checkout-footer {
        height: 16vh;
        top: 84vh;
    }

    .total-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5em;
    }

    .total-num {
        font-size: 2em;
        left: calc(100vw - 10px - 2em);
    }

    .place-order-text {
        bottom: 5px;
        right: auto;
    }
}