.animated-image {
  transform: 0.7;
  margin: 20px auto !important;
  overflow: hidden;
  z-index: 10;
}

@keyframes demos {
  100% { background-position: -900px; }
}

@keyframes demosText {
  100% { background-position: -1500px; }
}

@keyframes demosTextHover {
  100% { background-position: -1500px; }
}

@keyframes vault {
  100% { background-position: -1500px; }
}

@keyframes vaultText {
  100% { background-position: -1500px; }
}

@keyframes vaultTextHover {
  100% { background-position: -1500px; }
}

/* id tags */
#demo-text-animation {
  margin-top: 180px;
}

#vault-animation {
  background-repeat: no-repeat !important;
  background-position-y: 20px;
  margin: 0 !important;
  padding-bottom: 40px;
  align-self: center !important;
}

#vault-text-animation {
  position: relative;
  margin-top: 190px;
}

@media only screen and (max-width: 633px) {
  .animated-image {
    transform: scale(0.6);
    margin: -15% -20px;
  }
}