.cloud {
    transform: 0.7;
    margin: auto;
    overflow: hidden;
    z-index: 10;
}

@keyframes clouds1{
    100% { background-position: -1500px; }
}

@keyframes musicText {
    100% { background-position: -5500px; }
}

@keyframes musicTextHover {
    100% { background-position: -1500px; }
}

@keyframes clouds2 {
    100% { background-position: -1500px; }
}

@keyframes merchText {
    100% { background-position: -2000px; }
}

@keyframes merchHoverText {
    100% { background-position: -1000px; }
}

@keyframes clouds3 {
    100% { background-position: -2000px; }
}

@keyframes goodiesText {
    100% { background-position: -6500px; }
}

@keyframes playGoodiesHover{
    100% { background-position: -1500px; }
}

@media only screen and (max-width: 633px){
    .cloud {
        transform: scale(0.6);
        margin: -15% -20px;
    }
}