.lyrics {
    top: 0;
    position: absolute;
    width: 100%;
}

.misc-img {
    width: auto;
    height: auto;
    max-width: 70vw;
    max-height: 70%;
    margin: 20px auto 20px auto;
    border-style: none;
    border-width: 0;
}

.lines {
    color: #fff;
    font-size: normal;
    font-weight: 600;
}

@media only screen and (max-width: 633px) {

    .lines {
        font-size: normal;
    }

}