.lyrics {
    top: 0;
    position: absolute;
    width: 100%;
}

.misc-img {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
    margin: 20px auto 20px auto;
}

.lines {
    font-size: 1.4em;
}