/* reused classes */
/* class for view */
.view {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* header height + normal padding */
.padding-for-header {
  padding-top: calc(8vh + 40px);
}

/* may not be needed but hides contents for crawlers 
  (this might be outdated af idk i need to do some more research) 
*/
.crawl {
  visibility: hidden !important;
  color: #fff !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

@media only screen and (max-width: 633px) {
  /* header height + normal padding */
  .padding-for-header {
    padding-top: calc(5vh + 40px);
  }
}