* {
    padding: 0px;
    margin: 0px;
}

.music {
    width: 100%;
    height: auto;
    padding-top: calc(8vh + 40px);
    padding-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    background-color: #000;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.entry {
    /* max-height: 70%; */
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* transform: scale(0.7); */
    /* transform-origin: center; */
    position: relative;
}

.items {
    display: flex;
    flex-direction: column;
    position: relative;
}

.album-art {
    /* max-width: calc(500px * .7);
    max-height: calc(500px * .7); */
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    /* transform: scale(0.7); */
    margin-left: auto;
    margin-right: auto;
}

.streaming-logos {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: auto;
}

.logo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: scale(0.8);
}

.logo:hover {
    transform: scale(0.9);
}

.song-link {
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: calc(1.4em * .7);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 15%;
    text-align: left;
    text-decoration: none;
}

.song-link:hover {
    text-decoration: underline;
}

.song-list {
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: calc(1.4em * .7);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 15%;
    text-align: left;
    list-style-type: none;
}

.song-list-p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.album-head {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: auto;
    text-align: left;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: auto;
}

/* phone */
@media only screen and (max-width: 633px) {

    body{
        justify-content: flex-start;
    }

    .music{
        padding-top: calc(8vh + 40px);
        width: 100%;
        margin: 0 auto 0 auto;
    }

    .streaming-logos {
        width: 100%;
    }

    .entry{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1);
        margin-top: 20px;
    }

    .album-art{
        max-width: 70%;
        max-height: 70%;
        width: auto;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
    }

    .items{
        display: flex;
        flex-direction: column;
    }

    .album-head {
        margin-left: 15%;
        margin-right: auto;
    }

    p {
        font-size: 1em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .song-list {
        font-size: 1em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        margin-left: 15%;
    }

    .song-link{
        font-size: 1em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        margin-left: 15%;
    }
    
    .song-link:hover{
        font-size: calc(1.4em * .7);
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .streaming-logos{
        margin-top: 5px;
        margin-bottom: 5px;
        transform: scale(.7);
    }
    
}