.product-page-details-container {
    flex-direction: row;
}

.half-container {
    width: 50%;
}

.button-back-to-merch {
    text-decoration: none;
}

.button-back-to-merch:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 633px) {

    .product-page-details-container {
        flex-direction: column;
    }

    .half-container {
        width: 100%;
    }

}