.product-details-right-panel {
    /* transition: all 100ms ease; */
}

.right-panel-header {
    font-size: 2.5em;
}

#top-detail-panel-selector {
    margin-bottom: 15px;
}

#middle-detail-panel-selector {
    margin-top: 15px;
    margin-bottom: 15px;
}

#bottom-detail-panel-selector {
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-button {
    background-color: hsl(0, 0%, 100%);
    transition: all 100ms ease;
    border-color: hsl(0,0%,80%);
    text-decoration: none;
}

.panel-button:hover {
    background-color: hsl(0, 0%, 99%);
    border-color: hsl(0,0%,70%);
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 633px) {

    .product-details-right-panel {
        width: 100%;
    }

    .right-panel-header {
        font-size: 2em;
    }

}