.product-preview {
    text-decoration: none;
    max-width: 33.3333333% !important;
}

.product-preview:hover {
    filter: brightness(1.075);
    text-decoration: underline;
    text-decoration-color: #3d4246;
}

.preview-card {
    color: #3d4246;
    font-size: x-large;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;
}

.price-preview {
    background-color: #fff;
    color: #69727b !important;
    font-size: large;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    text-decoration: none !important;
}

.price-text {
    text-decoration: none !important;
}

.preview-header {
    cursor: pointer;
}

/* phone */
@media only screen and (max-width: 633px) {

    .product-preview {
        text-decoration: none;
        max-width: 50% !important;
    }

    .product-preview:hover {
        filter: brightness(1);
        text-decoration: none;
    }

    .price-preview:hover {
        cursor: pointer;
    }

}
