.price-preview {
    background-color: rgba(21, 77, 58, 0.9);
}

.preview-header {
    cursor: pointer;
}

@media only screen and (min-width: 633px) {

    .price-preview:hover {
        background-color: rgba(48, 138, 108, 0.8) !important;
        color: #eedd4a !important;
        cursor: pointer;
    }

}
