.summary-title {
    color: #69727b !important;
    text-decoration: none;
}

.summary-price {
    margin: auto 20px auto 80px;
    font-size: 1.2em;
}

@media only screen and (max-width: 633px) {

    .summary-price {
        margin: auto auto auto 40px;
        font-size: 1.2em;
    }

}