.array-option-image {
    opacity: 0.9 !important;
    border-width: 0;
    border-color: hsl(0,0%,70%);
    border-radius: 4px;
}

.array-option-image:hover {
    opacity: 0.7 !important;
}

.selected-option {
    border-width: 1px !important;
}