@import './variables.scss';
// @import url('http://fonts.cdnfonts.com/css/dinosotype');
// font-family: 'DinosoType', sans-serif;
// @import url('http://fonts.cdnfonts.com/css/mythological');
// font-family: 'Mythological', sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
