.container {
  overflow: hidden;
}

.merch {
  width: 100%;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .merch {
    background-color: #111;
  }
}

.flextop { 
  justify-content: start !important;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.flexreverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.merchgrid {
  position: relative;
  top: calc((8vh + 40px) * -1);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: 33.3333333%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 8px 2px;
}

.imgpreview {
  object-fit: fill;
  height: auto;
  width: 100%;
  padding: .5rem;
}

.title {
  font-weight: normal;
  font-size: x-large;
  line-height: 1.334;
  margin-left: 1rem;
}

.link {
  text-decoration: underline;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.price {
  align-items: flex-end;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: small;
  line-height: 1.334;
}

.fullwidth {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: auto;
    flex-direction: row;
    max-width: 100vw;
    width: 100vw;
  }

  .content {
    transform: scale(0.7);
    height: 300px;
  }

  .fullwidth > div {
    width: 100% !important;
  }

  .cards {
    width: 100%;
  }
}

// medium size
@media (max-width: 900px) {
  .card {
    width: 50%;
  }
}

// mobile
@media (max-width: 600px) {
  .card {
    width: 50%;
  }
}
