.container {
  padding: 0 2rem;
  overflow: hidden;
}

.cart {
  background-color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flextop { 
  justify-content: start !important;
}

.item {
  // height:
}

.items {
  margin-top: -8vh;
}

.imgplaceholder {
  height: 100px;
  width: 100px;
}

@media (prefers-color-scheme: dark) {
  .cart { 
    background-color: #111;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 .5rem;
    overflow: hidden;
  }

  .items {
    margin-top: -8vh;
  }
}
